@using System
@using System.Linq
@using Sandbox;
@inherits PanelComponent


@if ( !LocalPlayer.IsValid() ) return;
<div class="crosshair"></div> <!-- Add this line -->
@code
{
	private PlayerMovement LocalPlayer { get; set; }
	
	protected override void OnFixedUpdate()
	{
		if ( !LocalPlayer.IsValid() )
		{
			LocalPlayer = Scene.GetAllComponents<PlayerMovement>().FirstOrDefault( p => p.Network.OwnerConnection == Connection.Local );
		}
	}

	protected override void OnUpdate()
	{
		SetClass( "hitmarker", LocalPlayer.IsValid() && LocalPlayer.LastHitmarkerTime < 0.1f );
	}
	
	protected override int BuildHash() => HashCode.Combine( RealTime.Now );
}
